@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
    text-align: end;
    background-color: #000000;
    color: #ffffff;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}
li{
    display: inline-block;
    padding: 15px 20px;
    cursor: pointer;
}
li:hover{
    color: #b6f3ff;
}